@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:wght@300;400;500;700;800;900&display=swap');

:root {
    --background-color: #222831;
    --card--color: #6c5b7c;
    --text--color: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.movie-section {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 300% 300%;
	animation: gradient 15s ease infinite;
	min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.search-widget {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 35px;
    width: 50px;
    transition: width .5s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    height: 35px;
    width: 50px;
    transition: transform 0.5s ease;
}

.btn:focus, .search:focus {
    outline: none;
}

.search.active {
    width: 250px;
}

.btn.active {
    transform: translateX(160px);
}

.search-list {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    transform: translate(0px, 0px);
    transition: transform 2s;
}

.search-list-2 {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    margin-top: 60px;
}

.search-list-items {
    width: 100px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.search-list-images {
    width: 100px;
}

.search-list-images img {
    width: 100%;
}

.search-item-info {
    font-size: 10px;
    text-align: center;
    color: #fff;
}

.search-list.hidden {
    transform: translate(-2000px, 0px);
    height: 0;
}

/* Movie Card */
.movie-card {
    width: 950px;
    height: 409px;
    display: flex;
    overflow: hidden;
    background-color: #141010;
    margin: 50px auto 50px;
    text-align: center;
    color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.movie-card.hidden {
    display: none;
}

.card-body {
    padding: 10px 20px;
    width: 100%;
}

.card-title {
    font-size: 20px;
    font-weight: 900;
    color: #f8da5b;
    text-decoration: underline;
}
.card-image {
    width: 409px;
    height: 409px;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-plot {
    margin: 40px 0 20px;
    font-size: 14px;
    letter-spacing: .5px;
}

.people {
    text-align: left;
}

.movie-info-1 {
    display: flex;
    justify-content: space-evenly;
    margin: 0 200px;
    font-size: 12px;
    margin-top: 20px;
}

.movie-info-2 {
    display: flex;
    justify-content: space-evenly;
    margin: 0 50px;
    font-size: 12px;
    margin-top: 10px;
}

.card-director{
    border-top: 1px solid #fff;
    padding: 5px 0;
    color: #00bbf0;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.card-director span {
    color: #fff;
}

.card-writers {
    border-top: 1px solid #fff;
    padding: 5px 0;
    color: #00bbf0;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.card-writers span {
    color: #fff;
}

.card-stars {
    border-top: 1px solid #fff;
    padding-top: 5px;
    color: #00bbf0;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.card-stars span {
    color: #fff;
}

.rating {
    margin-top: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rating-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8da5b;
}

.rating-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8da5b;
}

.awards {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
/* End of Movie Card */